:root {
  /* Variables for default theme (light-mode) */
  --background-color: white;
  --text-color: black;  
  --footer-bg-grad-stop: #eee;
  --navbarBG: "url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%280, 0, 0, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e)";
  --hymnSelectBGStart: #6facd5;
  --hymnSelectBGStop: #497bae;
  --headerBG: #eee;
  --headerBorder: #122e4a;
  --pageHeight: 115px;
}

.App[data-theme="dark"] {
  /* Variables for dark mode */
  --background-color: black;
  --text-color: white;   
  --footer-bg-grad-stop: #111;
  --navbarBG: "url(data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 30 30%27%3e%3cpath stroke=%27rgba%255, 255, 255, 0.55%29%27 stroke-linecap=%27round%27 stroke-miterlimit=%2710%27 stroke-width=%272%27 d=%27M4 7h22M4 15h22M4 23h22%27/%3e%3c/svg%3e)";
  --hymnSelectBGStart: #333;
  --hymnSelectBGStop: #333;
  --headerBG: #222;
  --headerBorder: #000;
}

.App .btn {
  background-color: var(--background-color);
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: all ease 0.3s;
}

.App .page.home main {
  background-color: var(--background-color);
  color: var(--text-color);
}

.App .navbar {
  background-color: var(--headerBG);
  color: var(--text-color);
  border-bottom: 1px solid var(--headerBorder);
}
.App .page header .navbar li a {
  color: var(--text-color);
}
.App .page header .navbar .navbar-brand {
  color: var(--text-color);
}
.App .page header .bottomHeader {
  background-image: linear-gradient(var(--hymnSelectBGStart),var(--hymnSelectBGStop));
  border-bottom: 1px solid var(--headerBorder);
}
.App .page .form-control,
.App .page .hymnSelection select {
  background-color: var(--background-color);
  color: var(--text-color);
}

.App .page.search .table {
  color: var(--text-color);
}

.App .page .topHeader {
  border-bottom: 1px solid var(--background-color);
  height: 55px;
}
.App .page header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--headerBG);
  padding-bottom: 0;
}
.App .page .pageContent {
  height: calc(100vh - var(--pageHeight));
  overflow: auto;
}

.App .dataTable a {
  background-color: var(--background-color);
  color: var(--text-color);
}

.App .navbar-toggler {
  border-color:  var(--text-color);
  padding-top: 0;
  padding-bottom: 0;

}
.App .navbar-toggler-icon {
  color: var(--text-color);
  background-image: var(--navbarBG);
  font-size: 26px;
  height: 34px;
  line-height: 26px;
  width: 26px;

}
.App .footer {
  
  color: var(--text-color);
}
.App header .navbar-nav .nav-item {
  background-color: var(--background-color);
  color: var(--text-color);
}

.App .navbar-collapse {
  background-color: var(--background-color);
  color: var(--text-color);
}
.App  .footer {
  background: -moz-linear-gradient(top,rgba(255,255,255,0.46) 0,rgba(255,255,255,0.91) 60%,rgba(255,255,255,0.91) 97%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(255,255,255,0.46)),color-stop(60%,rgba(255,255,255,0.91)),color-stop(97%,rgba(255,255,255,0.91)));
    background: -webkit-linear-gradient(top,rgba(255,255,255,0.46) 0,rgba(255,255,255,0.91) 60%,rgba(255,255,255,0.91) 97%);
    background: -o-linear-gradient(top,rgba(255,255,255,0.46) 0,rgba(255,255,255,0.91) 60%,rgba(255,255,255,0.91) 97%);
    background: -ms-linear-gradient(top,rgba(255,255,255,0.46) 0,rgba(255,255,255,0.91) 60%,rgba(255,255,255,0.91) 97%);
    background: linear-gradient(to bottom,rgba(255,255,255,0.46) 0,rgba(255,255,255,0.91) 60%,rgba(255,255,255,0.91) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75ffffff',endColorstr='#e8ffffff',GradientType=0);

}
.App[data-theme="dark"]  .footer {
  background: #222;
    background: -moz-linear-gradient(top,rgba(000,000,000,0.46) 0,rgba(000,000,000,0.91) 60%,rgba(000,000,000,0.91) 97%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,rgba(000,000,000,0.46)),color-stop(60%,rgba(000,000,000,0.91)),color-stop(97%,rgba(000,000,000,0.91)));
    background: -webkit-linear-gradient(top,rgba(000,000,000,0.46) 0,rgba(000,000,000,0.91) 60%,rgba(000,000,000,0.91) 97%);
    background: -o-linear-gradient(top,rgba(000,000,000,0.46) 0,rgba(000,000,000,0.91) 60%,rgba(000,000,000,0.91) 97%);
    background: -ms-linear-gradient(top,rgba(000,000,000,0.46) 0,rgba(000,000,000,0.91) 60%,rgba(000,000,000,0.91) 97%);
    background: linear-gradient(to bottom,rgba(000,000,000,0.46) 0,rgba(000,000,000,0.91) 60%,rgba(000,000,000,0.91) 97%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#75000000',endColorstr='#e8000000',GradientType=0);

}

.page {
  height: 100vh;
  padding-top: var(--pageHeight);
}


.home {
  display: block
}
.home header .form-control {
  appearance: auto;
}
.home header .actionItems .navbar-nav {
  flex-direction: row;
}

.home header .navbar-collapse.show {
  position: absolute;
    width: 100%;
    top: 57px;
    left: 0;
    z-index: 9;
    padding: 0.5em;
    background: var(--headerBG);
}
.home header .navbar-collapse ul {
  margin-bottom: 0;
}
.home header .navbar-collapse ul li {
  border-bottom: 1px solid var(--headerBG);
  padding: 0.5em 1em;
}
.home header .navbar-collapse ul li.active a {
  font-weight: bold;
}
.home header .navbar-collapse ul li.active a span {
  display: inline-block;
  border-bottom: 2px solid var(--text-color);
}
.home .navbar-collapse ul li:nth-child(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.home .navbar-collapse ul li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.home header .navbar-collapse ul li {
  background: var(--background-color);
}
.home header .navbar-collapse ul li:hover {
  opacity: 0.7;
}

.home .rhap_progress-bar-show-download,
.home .rhap_download-progress {
  background: transparent;
}
.home .rhap_progress-section {
  position: fixed;
  top: 103px;
  left: 0;
  width: 100%;
}
.home .rhap_container {
  background: transparent;
  padding: 0;
  box-shadow: none;
}
.home .rhap_current-time, .home .rhap_total-time {
  display: none;
}
.home .rhap_volume-controls {
  display: none;
}
.home .rhap_progress-container {
  margin: 0;
}
.home .rhap_stacked .rhap_controls-section {
  margin-top: 0;
  display: block;
}
.home .rhap_additional-controls {
  display: none;
}
.home .rhap_progress-indicator {
  visibility: hidden;
}

.App .page header {
  height: var(--pageHeight);
  position: fixed;
  padding: 0;
  width: 100%;
}

.App .page header .topHeader {
  padding: 0em;
}
.App .page header .bottomHeader {
  padding: 0.5em;
}

.home main h1 {
  display: none;
}
.footer {
  position: fixed;
  bottom: 0;
  height: 55px;
  width: 100vw;

}

.lyrics {
  padding: 1em;
}
.lyrics ul {
  padding-left: 2em;
}
.lyrics li {
  margin-bottom: 0.8em;

}

.font_1 {
  font-size: 0.6em;
}
.font_2 {
  font-size: 0.8em;
}
.font_3 {
  font-size: 1em;
}
.font_4 {
  font-size: 1.2rem;
}
.font_5 {
  font-size: 1.4em;
}
.font_6 {
  font-size: 1.6em;
}
.font_7 {
  font-size: 1.8em;
}
.font_8 {
  font-size: 2em;
}
.font_9 {
  font-size: 2.2em;
}
.font_10 {
  font-size: 2.4em;
}
.font_11 {
  font-size: 2.6em;
}
.font_12 {
  font-size: 2.8em;
}
.font_13 {
  font-size: 3em;
}
.font_14 {
  font-size: 3.2em;
}


.player-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  flex: 1 100%;
}

.player-wrapper>div {
  width: 100%;
  height: 100%;
}
.video-js {
  height: 50px!important;
  width: 100%!important;
  padding-top: 0px!important;
  position: relative;
  top: -4px;
  z-index: 645;
}

.react-player {
  position: absolute;
  top: 0;
  left: 40px;
}

